body {
<<<<<<< HEAD
    background-image: url("../images/filmstrip-3.png");
    /* background-size: cover; */
=======
    background-image: url("../images/filmstrip.png");
    /*background-size: cover;*/
>>>>>>> main
}

#movie p {
  font-size: 20px;
}

#reviews p {
  font-size: 20px;
}

<<<<<<< HEAD
=======
.cust-fnt-sz {
  font-size: 21px;
}
>>>>>>> main
